
html {
    font-size: 30px;
}

#viewDiv {
    padding: 0;
    margin:0;
    height:50%;
    width: 100%
}

p {
    width:100%;
    background-color: grey;
    padding-bottom: 30px;

}


h1 {
 background-color: white
}